@use "../abstracts/" as *;

.MainFoter {
  padding: rem(100) 7% rem(50);
  color: $TextColor;
  background: $BgColor;
  @include flex(space-between, center, 10px, column);

  .Footer {
    height: 80%;
    width: 100%;
    @include flex(space-between, flex-start, 10px);

    @include media-query("sm") {
      gap: 20px;
      flex-direction: column; 
      align-items: left;
    }

    @include media-query("md") {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .LogoWrapper {
      @include flex(center, center);
      width: 40%;
      max-width: rem(300);

      @include media-query("sm") {
        width: 30%;
      }

      .LogoImg {
        object-fit: contain;
        width: 300px;
        aspect-ratio: 1/1;
        margin-left: -60px;

        @include media-query("md") {
          width: 150px;
          margin-top: -100px;
        }
      }
    }

    .Location {
      height: 100%;
      font-family: $NavFont;
      width: 20%;
      @include flex(flex-start, flex-start, 10px, column);

      h1 {
        font-size: rem(30);
        font-weight: bolder;
        font-family: $NavFont;
        font-weight: normal;

        @include media-query('md') {
          font-size: rem(26);
          margin-top: 40px;
        }
      }

      p {
        font-size: rem(18);
        line-height: rem(26);
        white-space: nowrap;
        font-family: $NavFont;

        @include media-query('md') {
          font-size: rem(12);
          line-height: rem(20);
        }
      }

      .SocialIcons {
        width: 60%;
        
        span {
          margin-right: 16px;
        }

        @include media-query("sm") {
          width: 30%;
        }

        @include media-query("md") {
          width: 10%;
          font-size: smaller;
        }

        @include flex(space-between, center);

        span {
          font-size: rem(30);

          @include media-query("sm") {
            font-size: rem(30);
          }
        }
      }

      @include media-query("sm") {
        width: 100%;
      }

      @include media-query("md") {
        width: 100%;
        margin: 0;
        font-size: rem(16);
      }
    }

    .FooterContainer {

      @include flex(space-evenly, flex-start, 10px);
       /* Adjust flex properties as needed */
       width: 45%;
      @include media-query("sm"){
        // width: 50%;
        justify-content: space-evenly;
      }

    }
    
    .FooterLinks {
      font-family: $NavFont;
      width: 350px;
      font-size: rem(22);
      line-height: rem(34);
      margin-left: -40px;

      @include media-query('sm') {
        margin-right: 60%; // Adjusted for small screens
      }
    }
    
    .Location {
      height: 100%;
      width: 20%;
      font-size: rem(16);
      margin-right: 200px; 

      @include media-query('md') {
        margin-left: -63%;
        
      }
      @include media-query('sm') {
        width: 0%;
      }
    }

    @media (max-width: 0px) {
      .FooterContainer {
        @include flex(column, flex-start, 2px); 
      }
      
      .FooterLinks {
        font-size: rem(18); 
        line-height: rem(22); 
      }
      
      .Location {
        font-size: rem(12); 
        line-height: rem(20); 
      }
    }

    .FooterLinks {
      font-family: $NavFont;
      font-size: rem(22);
      @include flex(flex-start, flex-start, 12px, column);

      @include media-query('md') {
        font-size: rem(18);
        line-height: rem(22);
        margin-top: 34px;
        margin-right: 40px;
        margin-left: 20px;
      }
    }

    .FormWrapper {
      height: 40vh;
      width: 60vw;
      margin: 0 auto;
    
     
    
      @include media-query('lg') {
        width: 80vw; 
        height: 60vh;
        margin: 0 auto;
    
        Form {
          width: 100%; 
          height: 100%;
          max-width: 900px; 
          margin: 0 auto; 
        }
      }
    
      @include media-query("md") {
        width: 80%;
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    
      @include media-query("sm") {
        width: 100%;
        height: 100vh;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }    

  .footerlast {
    height: 60px;
    background-color: $TextColor;
    width: 100vw;
    margin-bottom: -90px;

    .SubText {
      font-family: $NavFont;
      text-align: center;
      font-weight: bold;
      margin-top: 16px;
      color: $BgColor;
      font-size: rem(18);

      @include media-query("sm") {
        text-align: center;
      }
    }
  }
}